# ignore datasets/checkpoints
checkpoints/*.*
checkpoints/*/*.*
datasets/*/*.*
datasets/*/*/*.*
datasets/*/*/*/*.*
datasets/*/*/*/*/*.*

temp_files/*.*
temp_files/*/*.*
temp_files/*/*/*.*
temp_files/*/*/*/*.*
temp_files/*/*/*/*/*.*
# environment variables
.env

# gitkeep
!.gitkeep
